.marketing-title
  %h1 Exchange Cash For Programming Tasks
  %h2 Use your familiar Github workflow
  %h2.for-programmers Programmers make extra cash
  %h2.for-employers Employers get more done

.marketing-enter
  = link_to(new_github_auth_path, class: 'btn') do
    = image_tag('github-signup.png')
    Connect with Github

.well.well-large.marketing-pints
  %h3 Current Pints

  %ul.unstyled.pint-list
    %li.pint-list-item
      .badge.badge-success $25
      .label.label-inverse CSS
      .label.label-inverse Rails
      .label.label-info 2h

    %li.pint-list-item
      .badge.badge-success $25
      .label.label-inverse CSS
      .label.label-inverse Rails
      .label.label-info 2h

    %li.pint-list-item
      .badge.badge-success $25
      .label.label-inverse CSS
      .label.label-inverse Rails
      .label.label-info 2h

    %li.pint-list-item
      .badge.badge-success $25
      .label.label-inverse CSS
      .label.label-inverse Rails
      .label.label-info 2h

    %li.pint-list-item
      .badge.badge-success $25
      .label.label-inverse CSS
      .label.label-inverse Rails
      .label.label-info 2h

    %li.pint-list-item
      .badge.badge-success $25
      .label.label-inverse CSS
      .label.label-inverse Rails
      .label.label-info 2h
